@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    
}
/* section-1 */
.navbar{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    z-index: 111;
}
.nav-link {
    color: #848484;
    font-size: 18px;
    font-weight: 600;
    margin-left:20px;
    transition: .8s ease;
}


/*code to change background color*/
.navbar-nav>.active>a {
    transition: .8s ease;
    color: #1D8BA7 !important;
    border-bottom: 1px solid #1D8BA7;
    font-weight: 700;
}
/* section-2 */
.brotechbg{
    background-image: linear-gradient(to right, #1D748A , #6aa9b8, #0C596C);
    height:auto;
    width: 100%;
    z-index: 111;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  
}
.heading{
    /* border: 1px solid black; */
   min-height: 100%;
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: start;
}
.small-img{
    /* border: 1px solid black; */
height: 100%;
width: 100%;
}
.small-img img{
   width: 100%;
   height: 93%;
    object-fit: contain;
}
.heading p{
    font-size: 19px;
    color:#ffff;
    line-height: 20px;
    letter-spacing: .8px;
}
.heading h1{
    color: #ffff;
    font-weight: 700;
    font-size: 45px;
    
    letter-spacing: .8px;
}
.heading button{
    background-color: rgb(39, 144, 170);
    padding: 15px;
    max-width: 500px;
    font-weight: 600;
    font-size: 19px;
    border-radius: 8px;
    border: none;
    color: white;
    transition: .4s ease;

}
.heading button:hover{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    max-width: 500px;
    font-weight: 600;
    font-size: 19px;
    border-radius: 8px;
    border: 2px solid  rgb(39, 144, 170); 
    color: rgb(0, 0, 0);

}
.social-media{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.social-media img{
    padding: 6px;
    margin-top: 12px;
    width: 35px;
    cursor: pointer;
    height: 35px;
    transition: .5s ease;
}
.social-media img:hover{
    background-color:#1D748A;
    padding: 6px;
    margin-top: 12px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.9) 0px 7px 29px 0px;
    width: 35px;
    object-fit: contain;
    height: 35px;

}
/* section-3 */
.our-servicesbg{
   background-color: #E5FAFF;
    height: auto;
    padding: 100;
    width: 100%;
    z-index: 111;
    display: flex;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width:1200px) {
    .service{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    } 
    .our-servicesbg{
        background-color: #E5FAFF;
         height: auto;
         padding: 100;
         width: 100%;
         z-index: 111;
         display: flex;
         border-top-left-radius: 10%;
         border-top-right-radius: 10%;
         flex-direction: column;
         justify-content: space-between;
         align-items: center;
     } 
     .our-servicesbg{
        background-color: #E5FAFF;
         height: auto;
         padding: 0px;
      
         width: 100%;
         z-index: 111;
         display: flex;
         border-top-left-radius: 10%;
         border-top-right-radius: 10%;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
     }
     .card-1{
        background-color: #fff;
        height:auto;
        width: 100%;
     border: 1px solid rgb(234, 234, 234);
        display: flex;
        border-radius:10px;
        flex-direction: column;
        justify-content: center;
        margin-top: 70px;
        align-items: center;
        transition: .4s ease;
        padding-bottom: 40px;
    }
}
.service{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.card-1{
    background-color: #fff;
    height:auto;
    width: 100%;
 border: 1px solid rgb(234, 234, 234);
    display: flex;
    border-radius:10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .4s ease;
    padding-bottom: 40px;
}
.card-1:hover{
    background-color: #fff;
    height:auto;
    width: 100%;
 border: 1px solid rgb(234, 234, 234);
    display: flex;
    border-radius:10px;
    flex-direction: column;
    box-shadow: rgba(29, 139, 167, 0.2) 0px 7px 29px 0px;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}
.card-1 img{
    margin-top: -50px;
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.card-1 h1{
    padding-left: 40px;
    padding-right: 40px;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 70px;
}
.card-1 p{
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    line-height: 25px;
    color: #848484;
    font-size: 16px;
    letter-spacing: .5px;
}
.card-1 button{
    background-image: linear-gradient(to left, #41B4D1 , #1D8BA7);
    padding: 8px;
    max-width: 500px;
    font-weight: 600;
    line-height: 25px;
    font-size: 17px;
    border-radius: 8px;
    border: none;
    color: white;
    transition: .4s ease;
   

}
